<% content_for :title, @xen_guest&.name || @db_guest&.xen_name %>

<% name = @xen_guest&.name || @db_guest&.xen_name %>
<h1><%= name %></h1>

<% if @xen_guest %>
  <table>
    <tbody>
      <tr><th>State</th>       <td><%= @xen_guest.state %></td></tr>
      <tr><th>Domain ID</th>   <td><%= @xen_guest.id %></td></tr>
      <tr><th>Memory (MiB)</th><td><%= @xen_guest.memory %></td></tr>
      <tr><th>vCPUs</th>       <td><%= @xen_guest.vcpus %></td></tr>
      <tr><th>CPU time (s)</th><td><%= @xen_guest.time %></td></tr>
    </tbody>
  </table>

  <p>
    <%= button_to "Stop",    stop_guest_path(name),  method: :post %>
    <%= button_to "Destroy", guest_path(name),        method: :delete,
        data: { turbo_confirm: "Force-destroy #{name}? This cannot be undone." } %>
  </p>
<% else %>
  <p>Guest is not currently running.</p>

  <p>
    <%= button_to "Start",   start_guest_path(name), method: :post %>
    <%= button_to "Delete",  guest_path(name),        method: :delete,
        data: { turbo_confirm: "Delete #{name}? This cannot be undone." } %>
  </p>
<% end %>

<p><%= link_to "Edit Properties", edit_guest_properties_path(name) %></p>
<p><%= link_to "Back to guests", guests_path %></p>
