<% content_for :title, @xen_guest&.name || @db_guest&.xen_name %>

<% name = @xen_guest&.name || @db_guest&.xen_name %>
<h1><%= name %></h1>

<%# SSE source: Turbo connects and feeds the #guest-monitor target. %>
<turbo-stream-source src="<%= monitor_guest_path(name) %>"></turbo-stream-source>

<div id="guest-monitor">
  <%= render partial: "monitor_panel", locals: { guest: @xen_guest, name: name, pending: @db_guest&.pending_operation } %>
</div>

<% if @xen_guest %>
  <p>
    <% if current_user.has_grant?(:activator) %>
      <%= button_to "Stop",    stop_guest_path(name),  method: :post %>
    <% end %>
    <% if current_user.has_grant?(:creator) %>
      <%= button_to "Destroy", guest_path(name),        method: :delete,
          data: { turbo_confirm: "Force-destroy #{name}? This cannot be undone." } %>
    <% end %>
  </p>
<% elsif @db_guest %>
  <p>
    <% if current_user.has_grant?(:activator) %>
      <%= button_to "Start",   start_guest_path(name), method: :post %>
    <% end %>
    <% if current_user.has_grant?(:creator) %>
      <%= button_to "Delete",  guest_path(name),        method: :delete,
          data: { turbo_confirm: "Delete #{name}? This cannot be undone." } %>
    <% end %>
  </p>
<% end %>

<% if @config[:disk].present? || @config[:vif_bridge].present? %>
  <table>
    <tbody>
      <% if @config[:disk].present? %>
        <tr><th>Disk</th><td><%= @config[:disk] %></td></tr>
      <% end %>
      <% if @config[:vif_bridge].present? %>
        <tr><th>VIF Bridge</th><td><%= @config[:vif_bridge] %></td></tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if current_user.has_grant?(:editor) %>
  <p><%= link_to "Edit Properties", edit_guest_properties_path(name) %></p>
<% end %>
<p><%= link_to "Back to guests", guests_path %></p>
