<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Xen Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if logged_in? %>
      <nav>
        <%= current_user.email %> &mdash;
        <% if current_user.admin? %>
          <%= link_to "Admin", admin_users_path %> &mdash;
        <% end %>
        <%= button_to "Log out", logout_path, method: :delete %>
      </nav>
    <% end %>
    <% if notice %>
      <p role="status"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p role="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
