<%= form_with model: [:admin, user] do |f| %>
  <% if user.errors.any? %>
    <ul>
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :role %>
    <%= f.select :role, User::ROLES %>
  </div>

  <div>
    <%= f.label :password %><% if user.persisted? %> <em>(leave blank to keep current)</em><% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.submit %>
<% end %>
